wind/
archive
pics/
__pycache__/
.vscode/
convective_plumes_xz.gif
runs/
.pytest_cache/
trainresult/
q_table/
*.pkl
*.npy
*.pth
*.cleanrl_model
*.gif
*.png
*.csv
paper/reddy-et-al-2016-learning-to-soar-in-turbulent-environments.pdf
paper/supporting.pdf